/* Logo */

.bigLogo {
    font-size: 20px;
    width: 150px;
    margin: 5% auto 5% auto;
}

@media screen and (min-width: 350px) {
    .bigLogo {
        font-size: 40px;
        width: 300px;
    }
}

@media screen and (min-width: 800px) {
    .bigLogo {
        font-size: 80px;
        width: 700px;
    }
}
/* Buttons */

.bigButton {
    font-size: 20px;
    display: block;
    margin: 40px auto;
}

.joinDiv {
    display: block;
    width: max-content;
    margin: 4% auto;
}

.joinWrite {
    font-size: 20px;
    width: 25px;
    padding: 18px;
}

.joinButton {
    font-size: 20px;
}

@media screen and (min-width: 350px) {
    .bigButton {
        font-size: 40px;
        margin: 40px auto;
    }
    
    .joinDiv {
        margin: 4% auto;
    }
    
    .joinWrite {
        font-size: 20px;
        width: 25px;
        padding: 18px;
    }
    
    .joinButton {
        font-size: 20px;
    }
}


@media screen and (min-width: 800px) {
    .bigButton {
        font-size: 60px;
        margin: 0% auto;
    }
    
    .joinDiv {
        margin: 4% auto;
    }
    
    .joinWrite {
        font-size: 30px;
        width: 40px;
    }
    
    .joinButton {
        font-size: 30px;
    }
}