* {
    margin: 0;
    padding: 0
}

html, body, #root {
    min-height: 100% !important;
}

body {
    background-color: #F7A100;
    background-image: linear-gradient(177deg,#60C5F8, #E7F2F7 10% 90%, #60C5F8);
    font-family: 'proxima-nova', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
