* {
    margin: 0;
    padding: 0
}

html, body, #root {
    min-height: 100% !important;
}

body {
    background-color: #E7F2F7;
    font-family: 'proxima-nova', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
