.bigLogo {
    font-size: 70px;
    width: 600px;
}

/* Layout */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.logoDiv {
    margin: 5%;
}

.buttons {
    margin: 5%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.create {
    margin: 50px;
}

.joinWrite {
    width: 50px;
}

.setNameWrite {
    width: 100px;
}

/* Error */
.error {
    font-family: inherit;
    background-color: rgb(165, 23, 23);
    color:#fff;
    text-align: center;
    padding: 1rem;
    border: 1px #721a08 solid;
    border-radius: 2px;

    position: absolute;
    bottom: 10%;
    right:5%;
    left:5%;
    /* margin-left:-25%; */

    /* todo: fancy animaties */
    transition: 0.1s;
}

.error:hover {
    border: 5px #290c06 solid;
    background-color: rgb(158, 23, 23);
}