* {
    margin: 0;
    padding: 0
}

html, body, #root {
    min-height: 100% !important;
    height: 100%;
}

body {
    background-color: #F7A100;
    background-image: linear-gradient(177deg,#ffba39, #F7A100 40% 60%, #da8e01);
    font-family: 'proxima-nova', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
